div.folderListBody {
    /* display: flex;
    flex-direction: column; */
}
div.folderList-container { 
    display: flex;
    flex-wrap: wrap;
}
.card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
/* to make the Add Folder button larger use this  */
section.section-content {
    margin-left: 10px;
}


div.container-cards {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

img.folderImage {
    max-height: 20vh;

}

button.folderCard {
    background-color: rgba(153, 152, 152, 0.87);
    border-radius: 5px;
    box-shadow: 0px 0px 19px 2px #000000, 0px 0px 45px 1px rgba(0, 0, 0, 0.2);
    margin-bottom: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #0e0e0e;
    font-size: 22px;
    border: 0;
}

div#folder-name {
    padding: 2px 5px 2px 5px;
    border: rgba(255, 255, 255, 0.65) 2px set;
    background-color: rgba(26, 26, 26, 0.65);
    border-radius: 5px;
    margin-top: 3px;
    color:rgba(150, 205, 50, 0.966)
}

div.button-container {
    display: flex;
    flex-direction: row;
    margin-left: 10px
}

div.h3-container-myFolders {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

div.img-container {
    margin: 12px;
    display: flex;
    flex-direction: column;
}

h3 {
    text-align: center;
    border: yellowgreen 1px solid;
    border-radius: 5px;
    background-color: rgba(26, 26, 26, 0.959);
    width: fit-content;
    padding: 4px 10px 4px 10px;
    color: yellowgreen;
    font-size: 28px;
}

/* From ImageCard.css */
img.imageThunbnails {
    box-shadow: -1px -1px 17px 7px #000000, -1px -1px 45px 1px rgba(0,0,0,0.28);
}

/* From ImageEditForm  */
div.imageEditForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.h3-container-editImage {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

/* From ImageListPage.js */
div.h3-container-myImages {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}