div.folderListBody {
    /* display: flex;
    flex-direction: row; */
}
div.folderList-container { 
    display: flex;
    flex-wrap: wrap;
}

/* to make the Add Folder button larger use this  */
/* section.section-content {
    display: flex;
} */

div.container-cards {
    display: flex;
    /* flex-wrap: wrap; */
}

img.folderImage {
    max-height: 20vh;
}

button.folderCard {
    background-color: silver;
    border-radius: 5px;
}

button.folderCard {

    margin-bottom: 3px;
}

div.img-container {
    margin: 12px;
}
