div.folderListBody {
    /* display: flex;
    flex-direction: row; */
}
div.folderList-container { 
    display: flex;
}

/* to make the Add Folder button larger use this  */
/* section.section-content {
    display: flex;
} */

div.container-cards {
    display: flex;
}

img.folderImage {
    max-height: 20vh;
}

button.folderCard {
    background-color: silver;
    border-radius: 5px;
}
