
button.logOutButton {
    position: absolute;
    top: 15px;
    left: 15px;
    height: auto;
    font-size: 18px;
    
}

div.h1-container {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    text-align: center;
    background-color: rgba(58, 58, 58, 0.8);
}

h1 {
    font-size: 120px;
    margin: 0 auto;
    text-shadow: 0 0 10px #FFFFFF, 2px 2px 17px #71D31C, 2px 2px 9px #71D31C, 2px 2px 9px #71D31C;
}

img.logo {
    position: absolute;
    top: 25px;
    right: 15px;
    width: 250px;
}