h1 {
    font-size: 70px;
    text-shadow: yellowgreen;
}

header {
    /* display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    background-color: #404040;
    height: 20vh;
}

html {
    background-image: url("https://res.cloudinary.com/lordargyle22/image/upload/v1596253020/socialTiger/dark-background-pattern_nhuxcr.jpg");
    /* font-family: 'PT Sans Narrow', sans-serif; */
    /* font-family: 'Red Rose', cursive; */
    font-family: 'Ubuntu Condensed', sans-serif;

}

fieldset {
    background-color: gray;
    border-radius: 5px;
    width: fit-content;


}

input, select{
    background-color: silver;
    border: black 1px solid;
    border-radius: 5px;
    width: 25vw;
    padding: 5px;
    margin: 3px;
}

button {
    background-color: yellowgreen;
    border-radius: 5px;
}
