html {
    background-image: url("https://res.cloudinary.com/lordargyle22/image/upload/v1596253020/socialTiger/dark-background-pattern_nhuxcr.jpg");
    /* font-family: 'PT Sans Narrow', sans-serif; */
    /* font-family: 'Red Rose', cursive; */
    font-family: 'Ubuntu Condensed', sans-serif;
    margin: 0;
}

fieldset {
    background-color: gray;
    border-radius: 5px;
    width: fit-content;
    


}

input, select{
    background-color: silver;
    border: black 1px solid;
    border-radius: 5px;
    width: 25vw;
    padding: 5px;
    margin: 3px;
    font-family: 'Ubuntu Condensed', sans-serif;
    line-height: 1.5;
}

button {
    background-color: yellowgreen;
    border-radius: 5px;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 18px;
}
