img.imageViewImg {
    width: 800px;
    margin: 20px;
    border: black 1px inset;
    box-shadow: -1px -1px 17px 7px #000000, -1px -1px 45px 1px rgba(0,0,0,0.28);
}

/* div.card {
    background-color: rgba(58, 58, 58, 0.8);
    margin: 20px 40px -20px 40px;
} */

div.card-content {
    display: flex;
    justify-content: center;
}

div.imageDetails-container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

h3.image-view-name {
    font-size: 24px;
    margin: 0;
    margin-top: 20px;
    border: none;
}

h3.image-view-description {
    font-size: 20px;
    color: whitesmoke;
    border: none;
    background-color: none;
}

div.imageViewBody {
    background-color: rgba(58, 58, 58, 0.8);
    margin: 60px;
    border: black 20px double;
    box-shadow: 2px 2px 17px 6px #000000, -1px -1px 45px 1px rgba(0,0,0,0.28);
}

button#img-view-delete-button {
    width: 65px
}