img.imageViewImg {
    width: 800px;
    padding: 20px;
    /* border: black 20px double */
}

/* div.card {
    background-color: rgba(58, 58, 58, 0.8);
    margin: 20px 40px -20px 40px;
} */

div.card-content {
    display: flex;
    justify-content: center;
}

div.imageDetails-container {
    margin-left: 40px;
}

div.imageViewBody {
    background-color: rgba(58, 58, 58, 0.8);
    margin: 60px;
    border: black 20px double

}